@import url(https://fonts.googleapis.com/css?family=Syncopate|Titillium+Web|GFS+Neohellenic:700);body {
  height: 100vh;
  background: #eaeaea;
  color: rgba(0, 0, 0, 0.87);
  padding: 0;
  margin: 0; }

.astronomy-card {
  max-width: 75vw;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #b6b6b6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 5px 5px 10px 0px #190c80;
  box-shadow: 5px 5px 10px 0px #190c80; }
  .astronomy-card .astronomy-title {
    margin: 25px 0;
    padding: 15px 45px;
    font-family: 'GFS+Neohellenic', sans-serif;
    font-size: 1.25rem;
    color: #5907cc; }
  .astronomy-card .astronomy-image-wrapper {
    padding: 10px; }
    .astronomy-card .astronomy-image-wrapper img {
      cursor: pointer;
      max-height: 500px;
      -webkit-filter: drop-shadow(6px 6px 12px rgba(8, 6, 114, 0.534));
      filter: drop-shadow(6px 6px 12px rgba(8, 6, 114, 0.534));
      -webkit-transition: all 325ms ease-in-out;
      transition: all 325ms ease-in-out; }
      .astronomy-card .astronomy-image-wrapper img:hover {
        -webkit-transition: all 325ms ease-in-out;
        transition: all 325ms ease-in-out;
        -webkit-transform: scale(1.07);
        transform: scale(1.07); }
  .astronomy-card p {
    font-size: 1rem;
    padding: 10px 80px;
    letter-spacing: 0.66px;
    line-height: 2; }
  .astronomy-card span {
    font-size: .8rem;
    color: #190c80;
    font-style: italic;
    margin-bottom: 2rem; }

@media screen and (max-width: 700px) {
  .astronomy-card {
    max-width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media screen and (max-width: 700px) {
  .astronomy-image-wrapper {
    width: 100vw;
    -webkit-transition: none;
    transition: none; } }
