@import url('https://fonts.googleapis.com/css?family=Syncopate|Titillium+Web|GFS+Neohellenic');
$brand-purple: rgb(135,
140,
223);
$brand-green: rgb(153,
251,
198);
$font-size: 5rem;
$body_font: "Titillium Web",
sans-serif;
$break-med: 700px;

body {
  height: 100vh;
  background: #eaeaea;
  color: rgba(0, 0, 0, 0.87);
  padding: 0;
  margin: 0;
}

.astronomy-card {
  max-width: 75vw;
  margin: 50px auto;
  display: flex;
  background-color: #b6b6b6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(25, 12, 128, 1);
  -moz-box-shadow: 5px 5px 10px 0px rgba(25, 12, 128, 1);
  box-shadow: 5px 5px 10px 0px rgba(25, 12, 128, 1);
  .astronomy-title {
    margin: 25px 0;
    padding: 15px 45px;
    font-family: 'GFS Neohellenic',
    sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: #5907cc;
  }
  .astronomy-image-wrapper {
    padding: 10px;
    img {
      cursor: pointer;
      max-height: 500px;
      filter: drop-shadow(6px 6px 12px rgba(8, 6, 114, 0.534));
      transition: all 325ms ease-in-out;
      &:hover {
        transition: all 325ms ease-in-out;
        transform: scale(1.07);
      }
    }
  }
  p {
    font-size: 1rem;
    padding: 10px 80px;
    letter-spacing: 0.66px;
    line-height: 2;
  }
  span {
    font-size: .8rem;
    color: rgb(25, 12, 128);
    font-style: italic;
    margin-bottom: 2rem;
  }
}

  @media screen and (max-width: $break-med) {
    .astronomy-card {
      max-width: 100vw;
      flex-direction: column;
   
    }
  }

  @media screen and (max-width: $break-med) {
    .astronomy-image-wrapper {
      width: 100vw;
      transition: none;
    }
  }
