@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Syncopate');
$font-size: 5rem;
$body_font: "Titillium Web",
sans-serif;
$break-med: 700px;
$break-med-plus: 900px;

body {
  height: 100vh;
  background: #eaeaea;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Titillium Web',
  sans-serif;
  padding: 0;
  margin: 0;
}

.astronomy-card {
  max-width: 75vw;
  margin: 50px auto;
  display: flex;
  background-color: #b6b6b6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(25, 12, 128, .9);
  -moz-box-shadow: 5px 5px 10px 0px rgba(25, 12, 128, .9);
  box-shadow: 5px 5px 10px 0px rgba(25, 12, 128, .9);

   @media screen and (max-width: $break-med) {
     max-width: 95vw;
     margin: auto;
   }

  .astronomy-title {
    margin: 25px 0;
    padding: 15px 45px;
     font-family: 'Syncopate',
     sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #5907cc;
    text-shadow: 1px 1px #29035e;

    @media screen and (max-width: $break-med) {
      font-size: 1rem;
      padding: 15px 15px;
    }
  }

  .astronomy-image-wrapper {
    padding: 10px;
    img {
      cursor: pointer;
      max-height: 500px;
      -webkit-box-shadow: 5px 5px 10px 0px rgba(25, 12, 128, .9);
      -moz-box-shadow: 5px 5px 10px 0px rgba(25, 12, 128, .9);
      box-shadow: 5px 5px 10px 0px rgba(25, 12, 128, .9);
      transition: all 325ms ease-in-out;
      &:hover {
        transition: all 325ms ease-in-out;
        transform: scale(1.07);
      }

        @media screen and (max-width: $break-med-plus) {
          max-width: 100%;
          margin: auto;
          transition: none;
            &:hover {
              transition: none;
              transform: none;
            }
        }

    }
  }
  p {
    font-size: 1rem;
    padding: 10px 80px;
    letter-spacing: 0.66px;
    line-height: 2;

       @media screen and (max-width: $break-med) {
         font-size: .75rem;
         padding: 10px 40px;
       }
  }
  span {
    font-size: .8rem;
    color: rgb(25, 12, 128);
    font-style: italic;
    margin-bottom: 2rem;

       @media screen and (max-width: $break-med) {
         font-size: .5rem;
       }
  }
}
